* {
  background-color: #234;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary {
  text-align: center;
  margin: 1em;
}
.header {
  width: 98%;
  padding: 1em;
}
.heading1 {
  width: auto;
  padding: .80em;
  text-transform: uppercase;
  text-align: center;
  color: green;
  font-family: inherit;
}
.p1 {
  font-size: 1.5em;
  font-family: inherit;
}
